<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head') -%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <%- include('../partial/topbar'); -%>
    <%- include('../partial/sidebar'); -%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <h1 class="mr-3"><%= title %></h1>
                        <a href="/admin/user/create/" class="btn btn-sm btn-primary">Create User</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><%= title %></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <% if (message) { %>
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Success!</strong> <%- (message) %>
                    </div>
                <% } %>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form name="filterForm">
                                    <div class="form-inline float-left align-items-end">
                                        <div class="form-group mx-1">
                                            <label class="small font-weight-normal">Entries per page&nbsp;&nbsp;</label>
                                            <select class="form-control form-control-sm" id="limit" name="limit">
                                                <option selected hidden disabled>Show entries</option>
                                                <option value="5" <%= limit === 5 ? 'selected' : '' %>>5</option>
                                                <option value="10" <%= limit === 10 ? 'selected' : '' %>>10</option>
                                                <option value="25" <%= limit === 25 ? 'selected' : '' %>>25</option>
                                                <option value="50" <%= limit === 50 ? 'selected' : '' %>>50</option>
                                                <option value="100" <%= limit === 100 ? 'selected' : '' %>>100</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-1">
                                            <select class="form-control form-control-sm" name="sort">
                                                <option value="newest" <%= sort === 'newest' ? 'selected' : '' %>>Newest first</option>
                                                <option value="oldest" <%= sort === 'oldest' ? 'selected' : '' %>>Oldest first</option>
                                                <option value="nameAsc" <%= sort === 'nameAsc' ? 'selected' : '' %>>Name, A-Z</option>
                                                <option value="nameDesc" <%= sort === 'nameDesc' ? 'selected' : '' %>>Name, Z-A</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-1">
                                            <select class="form-control form-control-sm" id="selectRole" name="role">
                                                <option value="0">All roles</option>
                                                <option value="1" <%= Number(role) === 1 ? 'selected' : '' %>>User</option>
                                                <option value="2" <%= Number(role) === 2 ? 'selected' : '' %>>Admin</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-2">
                                            <a href="/admin/user/list" class="btn btn-sm btn-secondary">&times; Clear
                                                Filter</a>
                                        </div>
                                    </div>
                                    <div class="form-inline float-right">
                                        <div class="form-group input-group input-group-sm ml-md-2">
                                            <input type="text" name="keyword" class="form-control form-control-sm"
                                                   placeholder="Search" value="<%= keyword %>">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                            <input type="hidden" name="page" value="<%= page %>">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <% if(listUser.length > 0) { %>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-hover text-nowrap">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Full name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% for (var i = 0; i < listUser.length; i++) { %>
                                            <div class="modal fade" id="DeleteUser<%= listUser[i].id %>" tabindex="-1"
                                                 role="dialog" aria-labelledby="deleteUser"
                                                 aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete
                                                                <b><%= listUser[i].firstName %> <%= listUser[i].lastName %></b>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline-primary"
                                                                    data-dismiss="modal">Cancel
                                                            </button>
                                                            <a href="/admin/user/delete/<%= listUser[i].id %>"
                                                               class="btn btn-primary">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <tr>
                                                <td><%= listUser[i].firstName %> <%= listUser[i].lastName %></td>
                                                <td><%= listUser[i].email %></td>
                                                <td>
                                                    <% if (listUser[i].role === 1){ %>
                                                        <%= 'User' %>
                                                    <% } else { %>
                                                        <%= 'Admin' %>
                                                    <% } %>
                                                </td>
                                                <td><%= listUser[i].phone %></td>
                                                <td><%= listUser[i].address.wardId.name %>, <%= listUser[i].address.districtId.name %>, <%=listUser[i].address.cityId.name %> </td>
                                                <td>
                                                    <a href="/admin/user/update/<%= listUser[i].id %>"
                                                       class="btn btn-sm btn-primary">Update</a>
                                                    <a type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                                       data-target="#DeleteUser<%= listUser[i].id %>">Delete</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            <% } else { %>
                                <div class="mt-3 mb-3 container text-center">
                                    No result.
                                </div>

                            <% } %>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="row <%= listUser.length != 0 ? '' : 'd-none' %>">
                    <div class="col-12 col-md-6 ">
                        <div class="mt-2 <%= page > totalPages ? 'd-none' : '' %>">Showing <%= pagingCounter %>
                            to <%= Math.min((pagingCounter + limit) - 1, userCount) %> of <%= userCount %> entries
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination float-right">
                                <li class="paginate_button page-item  <%= page === 1 ? 'd-none' : '' %>"
                                    id="first"><a class="page-link"><i class="fa fa-angle-double-left"
                                                                       aria-hidden="true"></i></a></li>
                                <li class="paginate_button page-item  <%= page === 1 ? 'd-none' : '' %>"
                                    id="prev"><a class="page-link">Prev</a></li>
                                <li class="paginate_button page-item  disabled"><a
                                            class="page-link"><%= page %></a></li>
                                <li class="paginate_button page-item  <%= page === totalPages ? 'd-none' : '' %>"
                                    id="next"><a class="page-link">Next</a></li>
                                <li class="paginate_button page-item  <%= page === totalPages ? 'd-none' : '' %>"
                                    id="last"><a class="page-link page-item "><i class="fa fa-angle-double-right"
                                                                                 aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../partial/footer'); -%>
</div>
<%- include('../partial/scripts'); -%>
<script>
    const formSearch = document.forms['filterForm'];
    const selectRole = document.getElementById('selectRole');
    const keywordInput = document.querySelector('input[name="keyword"]');
    const pageInput = document.querySelector('input[name="page"]');
    const limitInput = document.querySelector('select[name="limit"]');
    const selectSort = document.querySelector('select[name="sort"]');
    if (selectRole) {
        selectRole.onchange = function () {
            formSearch.submit();
        }
    }
    if (selectSort) {
        selectSort.onchange = function () {
            formSearch.submit();
        }
    }
    if (limitInput) {
        limitInput.onchange = function () {
            formSearch.submit();
        }
    }
    keywordInput.onkeypress = function (event) {
        if (event.key == 'Enter') {
            formSearch.submit();
        }
    }

    $('#first').click(() => {
        pageInput.value = 1;
        formSearch.submit();
    })
    $('#prev').click(() => {
        pageInput.value = parseInt(pageInput.value) - 1;
        formSearch.submit();
    })
    $('#next').click(() => {
        pageInput.value = parseInt(pageInput.value) + 1;
        formSearch.submit();
    })
    $('#last').click(() => {
        pageInput.value = parseInt( <%= totalPages %> );
        formSearch.submit();
    })
</script>
</body>
</html>