<%- include('partial/header') -%>
<% formatMoney = value => value.toLocaleString('en-US', {
    style: 'currency',
    currency: 'USD',
    minimumFractionDigits: 2
}) %>
<table border="0" cellpadding="0" cellspacing="0" width="100%"
       style="border-collapse: collapse;">
    <tr>
        <td style="color: #23366f; font-family: Arial, sans-serif;">
            <h1 style="font-size: 32px; margin: 0 0 15px; font-weight: 400;">Your order has been shipped!</h1>
            <h2 style="font-size: 16px; font-weight: 400">Order #<%= order.orderNumber %></h2>
        </td>
    </tr>
    <tr>
        <td style="color: #23366f; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
            <p style="margin: 0;">Hi <%= order.userId.firstName %> <%= order.userId.lastName %>,</p>
            <p>Your order is being delivered to you. Click the “View your order” button below to check on the status of your order
                at any time. Be sure to keep this email for future reference.</p>
            <p>Need help? Check our <a href="<%= url %>/faq" style="color: #86acda; text-decoration: none;">FAQ</a> or
                contact us <a href="mailto:contact.safecarz@gmail.com" style="color: #86acda; text-decoration: none;">here</a>.
            </p>
            <a type="button" href="<%= url %>/order/detail/<%= order._id %>"
               style="padding: 16px 24px; margin: 10px 10px 10px 0; background-color: #23366f; color: white; font-size: 1rem; border: none; border-radius: 30px; text-decoration: none; display: inline-block;">View
                your order</a>
        </td>
    </tr>
    <tr>
        <td style="color: #23366f; font-family: Arial, sans-serif;">
            <h2 style="font-size: 20px; font-weight: 400; margin-top: 60px;">Order summary</h2>
            <table border="0" cellpadding="0" cellspacing="0"
                   style="border-collapse: collapse;" width="100%">
                <tr style="border-bottom: 1px solid #e5e5e5">
                    <td style="padding: 20px 0">
                        <%= order.plan.insurerId.name %> <%= order.plan.name %> Plan - 1 <%= order.plan.kind %>
                    </td>
                    <td align="right">
                        <b><%= formatMoney(order.plan.planPrice) %></b>
                    </td>
                </tr>
                <tr>
                    <td width="40%"></td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="border-collapse: collapse;" width="100%">
                            <tr>
                                <td style="padding: 20px 0 10px;">
                                    Subtotal
                                </td>
                                <td style="padding: 20px 0 10px;" align="right">
                                    <b><%= formatMoney(order.plan.planPrice) %></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 10px 0 20px;">
                                    Shipping
                                </td>
                                <td style="padding: 10px 0 20px;" align="right">
                                    <b><%= formatMoney(0) %></b>
                                </td>
                            </tr>
                            <tr style="border-top: 1px solid #e5e5e5;">
                                <td style="padding: 15px 0;">
                                    Total
                                </td>
                                <td style="padding: 15px 0; font-size: 24px;" align="right">
                                    <b><%= formatMoney(order.plan.planPrice) %></b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="color: #23366f; font-family: Arial, sans-serif;">
            <h2 style="font-size: 20px; font-weight: 400; margin-top: 60px;">Customer information</h2>
        </td>
    </tr>
    <tr>
        <td style="color: #23366f; font-family: Arial, sans-serif;">
            <table>
                <tr>
                    <td width="70%">
                        <p><b>Vehicle</b></p>
                        <table border="0" cellpadding="0" cellspacing="0"
                               style="border-collapse: collapse; font-size: 14px;" width="100%">
                            <tr>
                                <td style="padding: 5px 0">
                                    Model
                                </td>
                                <td>
                                    <%= order.vehicle.modelNameWithMake %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Registration Plate
                                </td>
                                <td>
                                    <%= order.vehicle.vehicleRegistrationPlate %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Identification Number
                                </td>
                                <td>
                                    <%= order.vehicle.vehicleIdentificationNumber %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Engine Number
                                </td>
                                <td>
                                    <%= order.vehicle.engineNumber %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Purchased Date
                                </td>
                                <td>
                                    <%= order.vehicle.purchasedDate.toLocaleDateString('en-GB') %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Purchased Condition
                                </td>
                                <td>
                                    <%= Number(order.vehicle.purchasedCondition) === 1 ? 'New' : 'Old' %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Commercial Use
                                </td>
                                <td>
                                    <%= order.vehicle.isForCommercialUse ? 'Yes' : 'No' %>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px 0">
                                    Annual Mileage
                                </td>
                                <td>
                                    <%= order.vehicle.annualMileage %>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top;">
                        <p><b>Shipping address</b></p>
                        <p style="font-size: 14px; margin: 10px 0;"><%= order.shippingAddress.name %></p>
                        <p style="font-size: 14px; margin: 10px 0;"><%= order.shippingAddress.street %></p>
                        <p style="font-size: 14px; margin: 10px 0;"><%= order.shippingAddress.wardId.name %>
                            , <%= order.shippingAddress.districtId.name %></p>
                        <p style="font-size: 14px; margin: 10px 0;"><%= order.shippingAddress.cityId.name %></p>
                        <p style="font-size: 14px; margin: 10px 0;"><%= order.shippingAddress.phone %></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<%- include('partial/footer') -%>