<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head') -%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <%- include('../partial/topbar'); -%>
    <%- include('../partial/sidebar'); -%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 d-flex align-items-center">
                        <h1 class="mr-3"><%= title %></h1>
                        <a href="/admin/city/create" class="btn btn-primary mt-2">Create New City</a>

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><%= title %></li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="container-fluid">
                <% if (message) { %>
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Success!</strong> <%- (message) %>
                    </div>
                <% } %>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <form name="filterForm">
                                    <div class="form-inline float-left align-items-end">
                                        <div class="form-group mx-1">
                                            <label class="small font-weight-normal">Entries per page&nbsp;&nbsp;</label>
                                            <select class="form-control form-control-sm" id="limit" name="limit">
                                                <option selected hidden disabled>Show entries</option>
                                                <option value="25" <%= limit === 25 ? 'selected' : '' %>>25</option>
                                                <option value="50" <%= limit === 50 ? 'selected' : '' %>>50</option>
                                                <option value="100" <%= limit === 100 ? 'selected' : '' %>>100</option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-1">
                                            <select class="form-control form-control-sm" name="sort">
                                                <option value="nameAsc" <%= sort === 'nameAsc' ? 'selected' : '' %>>
                                                    Name,
                                                    A-Z
                                                </option>
                                                <option value="nameDesc" <%= sort === 'nameDesc' ? 'selected' : '' %>>
                                                    Name,
                                                    Z-A
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-1">
                                            <select class="form-control form-control-sm" id="selectCity" name="type">
                                                <option value="0">All Citys</option>
                                                <option value="City" <%= Type === 'City' ? 'selected' : '' %>>City
                                                </option>
                                                <option value="Province" <%= Type === 'Province' ? 'selected' : '' %>>Province
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group mx-2">
                                            <a href="/admin/city/list" class="btn btn-sm btn-secondary">&times; Clear
                                                Filter</a>
                                        </div>
                                    </div>
                                    <div class="form-inline float-right">
                                        <div class="form-group input-group input-group-sm ml-md-2">
                                            <input type="text" name="keyword" class="form-control form-control-sm"
                                                   placeholder="Search" value="<%= keyword %>">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-default">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                            <input type="hidden" name="page" value="<%= page %>">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-header -->
                        </div>
                        <% if(listCity.length > 0) { %>
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% for (var i = 0; i < listCity.length; i++) { %>
                                        <div class="modal fade" id="DeleteCity<%= listCity[i].id %>" tabindex="-1"
                                             role="dialog" aria-labelledby="deleteCity"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete
                                                            <b><%= listCity[i].name %> </b>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-primary"
                                                                data-dismiss="modal">Cancel
                                                        </button>
                                                        <a href="/admin/city/delete/<%= listCity[i].id %>"
                                                           class="btn btn-primary">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <tr>
                                            <td><%= listCity[i].name %></td>
                                            <td><%= listCity[i].type %></td>
                                            <td>
                                                <a href="/admin/city/update/<%= listCity[i].id %>"
                                                   class="btn btn-sm btn-primary">Update</a>
                                                <a type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                                   data-target="#DeleteCity<%= listCity[i].id %>">Delete</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        <% } else { %>
                            <div class="mt-3 mb-3 container text-center">
                                No result.
                            </div>

                        <% } %>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="row <%= listCity.length != 0 ? '' : 'd-none' %>">
                    <div class="col-12 col-md-6 ">
                        <div class="mt-2 <%= page > totalPages ? 'd-none' : '' %>">Showing <%= pagingCounter %>
                            to <%= Math.min((pagingCounter + limit) - 1, cityCount) %> of <%= cityCount %> entries
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination float-right">
                                <li class="paginate_button page-item  <%= page === 1 ? 'd-none' : '' %>"
                                    id="first"><a class="page-link"><i class="fa fa-angle-double-left"
                                                                       aria-hidden="true"></i></a></li>
                                <li class="paginate_button page-item  <%= page === 1 ? 'd-none' : '' %>"
                                    id="prev"><a class="page-link">Prev</a></li>
                                <li class="paginate_button page-item  disabled"><a
                                            class="page-link"><%= page %></a></li>
                                <li class="paginate_button page-item  <%= page === totalPages ? 'd-none' : '' %>"
                                    id="next"><a class="page-link">Next</a></li>
                                <li class="paginate_button page-item  <%= page === totalPages ? 'd-none' : '' %>"
                                    id="last"><a class="page-link page-item "><i class="fa fa-angle-double-right"
                                                                                 aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <%- include('../partial/footer'); -%>
</div>

<%- include('../partial/scripts'); -%>
<script>
    const formSearch = document.forms['filterForm'];
    const selectCity = document.getElementById('selectCity');
    const keywordInput = document.querySelector('input[name="keyword"]');
    const pageInput = document.querySelector('input[name="page"]');
    const limitInput = document.querySelector('select[name="limit"]');
    const selectSort = document.querySelector('select[name="sort"]');
    if (selectCity) {
        selectCity.onchange = function () {
            formSearch.submit();
        }
    }
    if (selectSort) {
        selectSort.onchange = function () {
            formSearch.submit();
        }
    }
    if (limitInput) {
        limitInput.onchange = function () {
            formSearch.submit();
        }
    }
    keywordInput.onkeypress = function (event) {
        if (event.key == 'Enter') {
            formSearch.submit();
        }
    }

    $('#first').click(() => {
        pageInput.value = 1;
        formSearch.submit();
    })
    $('#prev').click(() => {
        pageInput.value = parseInt(pageInput.value) - 1;
        formSearch.submit();
    })
    $('#next').click(() => {
        pageInput.value = parseInt(pageInput.value) + 1;
        formSearch.submit();
    })
    $('#last').click(() => {
        pageInput.value = parseInt( <%= totalPages %> );
        formSearch.submit();
    })
</script>
</body>
</html>